@model Imengur.Models.Image
@{
    ViewData["Title"] = "Search";
}
<form asp-action="SearchImage" method="post">
    <input class="form-control" type="text" placeholder="Title" asp-for="@Model.Title" />
    <br />
    <input class="form-control" type="text" placeholder="ID" id="id" asp-for="@Model.Id" />
    <br />
    <button class="btn btn-success" type="submit">Search</button>
</form>
