@model IList<Imengur.Models.Image>
@{
    ViewData["Title"] = "Search results";
}
<h1>Uploaded images</h1>
<table class="table">
    <tr>
        <th>Image ID</th>
        <th>Title</th>
        <th>Image</th>
        <th>Description</th>
    </tr>
    <tbody>
        @foreach (var image in @Model)
        {
            <tr>
                <td>
                    @image.Id
                </td>
                <td>
                    @image.Title
                </td>
                <td>
                    <a asp-controller="Image" asp-action="SearchImage" asp-route-Id="@image.Id">
                        <img style="height:100px; width:auto;" src="~/uploads/@image.ImageData" />
                    </a>
                </td>
                <td>
                    @image.Description
                </td>
            </tr>
        }
    </tbody>
</table>
