@model Imengur.Models.User
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form asp-action="SearchUserImages" method="post">
    <input class="form-control" type="text" placeholder="Title" asp-for="@Model.Name" />
    <br />
    <input class="form-control" type="text" placeholder="ID" id="id" asp-for="@Model.Id"/>
    <br />
    <button class="btn btn-success" type="submit">Search</button>
</form>
