@model Imengur.Models.ImageAndUsersHome;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Recent images:</h1>

    @foreach (var image in @Model.Images)
    {
        <a asp-controller="Image" asp-action="SearchImage" asp-route-Id="@image.Id">
            <img class="img-thumbnail w-25" src="~/uploads/@image.ImageData" />
        </a>
    }
</div>
