@model Imengur.Models.Login

<form asp-action="Login" method="post">
    <input class="form-control" asp-for="Name" placeholder="Login"/>
    <span asp-validation-for="Name"></span>
    <br />
    <input class="form-control" asp-for="Password" placeholder="Password"/>
    <br />
    <span asp-validation-for="Password"></span>
    <input asp-for="ReturnUrl" type="hidden" />
    <button type="submit" class="btn btn-success">Login</button>

    <div asp-validation-summary="All"></div>
</form>