@model Imengur.Models.Login






<form asp-action="Login" method="post">
    <input asp-for="Name" />
    <span asp-validation-for="Name"></span>
    <br />
    <input asp-for="Password" /><br />
    <span asp-validation-for="Password"></span>
    <br />
    <input asp-for="ReturnUrl" type="hidden" />

    <button type="submit" class="btn btn-success">Login</button>

    <div asp-validation-summary="All"></div>
</form>